<footer class="flex items-center justify-center mt-16 mb-24 text-gray-500 text-sm">
    &copy; {{date format="YYYY"}} {{@site.title}}.
    Design with
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-current mx-1 w-4 h-4">
        <title>heart</title>
        <path d="M16.5 2.625h-0.047c-1.861 0-3.506 0.984-4.453 2.438-0.947-1.453-2.592-2.438-4.453-2.438h-0.047c-2.902 0.028-5.25 2.386-5.25 5.297 0 1.734 0.759 4.195 2.241 6.22 2.822 3.858 7.509 7.233 7.509 7.233s4.688-3.375 7.509-7.233c1.481-2.025 2.241-4.486 2.241-6.22 0-2.911-2.348-5.269-5.25-5.297z"></path>
    </svg>
    by
    <a href="https://godofredo.ninja/about-me" class="text-gray-500 hover:text-blue-500">
        @GodoFredoNinja
    </a>
</footer>