<nav class="flex flex-col w-full mt-8 md:mt-0 md:w-3/12 xl:w-1/5 order-2 md:order-none md:max-h-(screen-32) px-6 sticky md:top-32 overflow-y-auto">
    <div class="mb-0 text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">{{t "Getting Started"}}</div>
    {{navigation type="secondary"}}
</nav>