<footer class="flex items-center justify-center mt-16 mb-24 text-gray-500 text-sm">
    &copy; {{date format="YYYY"}} {{@site.title}}.
    Design with
    <svg class="fill-current mx-1 w-4 h-4"><use xlink:href="#icon-heart"></use></svg>
    by
    <a href="https://godofredo.ninja/about-me" class="text-gray-500 hover:text-blue-500" style="margin-left: .3rem;">
        @GodoFredoNinja
    </a>
</footer>