{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}bg-gray-100{{/contentFor}}

{{!-- Header ./partials/site-header.hbs --}}
{{> "site-header"}}

<div class="section blog-posts kusi-blog">
    <div class="section--inner w-full mx-auto max-w-3xl px-6">

		{{!-- Header --}}
        {{#tag}}
        <div class="mb-12 container-sm text-center max-w-xl mx-auto">
            <h1 class="font-semibold mt-0 mb-6 text-gray-800">{{name}}</h1>
            {{#if description}}<p class="opacity-75">{{description}}</p>{{/if}}
        </div>
        {{/tag}}

        {{!-- Post Card - ./partials/post-card.hbs --}}
        {{#foreach posts visibility="all"}}
            {{> "post-card"}}
        {{/foreach}}

    </div>

    {{pagination}}
</div>

{{!-- Footer ./partials/site-footer.hbs --}}
{{> "site-footer"}}