/* Variables
/* ---------------------------------------------------------- */

$primary-color: #139ce7;

/* Media Query Ranges
/* ---------------------------------------------------------- */

$sm:            640px;
$md:            768px;
$lg:            1024px;
$xl:            1280px;

$sm-and-up:     "only screen and (min-width : #{$sm})";
$md-and-up:     "only screen and (min-width : #{$md})";
$lg-and-up:     "only screen and (min-width : #{$lg})";
$xl-and-up:     "only screen and (min-width : #{$xl})";

$sm-and-down:   "only screen and (max-width : #{$sm - 1})";
$md-and-down:   "only screen and (max-width : #{$md -1 })";
$lg-and-down:   "only screen and (max-width : #{$lg - 1})";
